<form class="form-signin" ng-submit="login(signup.identifier, signup.password)" name="loginForm" novalidate>
  <div class="text-center">
    <img src="assets/img/logo_sm.png" class="img-fluid" style="width: 200px; height: 200px;" alt="Responsive image"> 
  </div>
  <h1 class="display-4 text-center">Bem Vindo!</h1>
  <p class="lead text-center">
    Entre com seus dados para acessar
  </p>
  <div ng-messages="loginForm.identifier.$error">
    <div ng-message="minlength" class="alert alert-warning">
      <strong>Ops!</strong> O campo CRM/CPF deve conter 11 caracteres.
    </div>
    <div ng-message="maxlength" class="alert alert-warning">
      <strong>Ops!</strong> O campo CRM/CPF deve conter 11 caracteres.
    </div>
  </div>
  <div ng-messages="loginForm.password.$error">
    <div ng-message="minlength" class="alert alert-warning">
      <strong>Ops!</strong> A senha deve conter no mínimo 6 caracteres.
    </div>
  </div>
  <div ng-messages="messages">
    <div ng-message="loginFailed" class="alert alert-danger">
        <strong>Ops!</strong> Sua senha ou usuário estão incorretos.
    </div>
    <div ng-message="accountNotExistent" class="alert alert-danger">
        Você precisa criar uma conta para acessar o <strong>Prontomed</strong>
    </div>
    <div ng-message="failedSystem" class="alert alert-danger">
        Estamos com um problema e já estamos consertando. Em breve, tente novamente acessar o <strong>Prontomed</strong>
    </div>
  </div>
  <label for="identifier" class="sr-only">CRM ou CPF</label>
  <input name="identifier" type="text" id="identifier" class="form-control" placeholder="Digite seu CRM ou CPF" ng-minlength="11" ng-maxlength="11" ng-model="signup.identifier" ng-model-options="{ debounce: 2000 }" required autofocus>
  <label for="inputPassword" class="sr-only">Digite sua senha</label>
  <input name="password" type="password" id="password" class="form-control" placeholder="Digite sua senha" ng-minlength="6" ng-model="signup.password" ng-model-options="{ debounce: 2000 }" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Lembrar me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loginForm.$invalid">Entrar</button>
  <p><small><ul class="list-unstyled text-center">Não possui ainda uma conta? &nbsp;<li><a ui-sref="anon.signupDoctor()">Sou médico, criar conta!</a></li> <li>ou <a ui-sref="anon.signupPatient()">Sou paciente, criar conta!</a></li></ul></small></p>
</form>