<div class="row">
	<div class="col-md-8">
	   <input type="text" class="form-control" placeholder="Digite o que procura" ng-model="search">
	</div>
	<div class="col-md-4">
		<div class="input-group">
		   <select class="form-control input-lg select2-single" id="searchType" ng-model="searchType">
		   		<option value="" selected disabled>Pesquisar por...</option>
				<option value="name">Nome</option>
				<option value="speciality">Especialidade</option>
				<option value="crm">CRM</option>
		   </select>
		   <span class="input-group-btn">
		        <button class="btn btn-default" type="button" ng-click="searchDoctor(search, searchType)">Pesquisar</button>
		   </span>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<table class="table table-hover table-striped" ng-show="doctors.length > 0">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>CRM</th>
		      <th>Nome</th>
		      <th>Sobrenome</th>
		      <th>Especialidade</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="doctor in doctors | orderBy: '-doctor.name'" ui-sref="portal.editDoctor({id:doctor.crm})">
	            <th scope="row">#{{$index + 1}}</th>
	            <td>{{doctor.crm}}</td>
	            <td>{{doctor.name}}</td>
	            <td>{{doctor.lastname}}</td>
	            <td>{{doctor.specialist}}</td>
          	</tr>
		  </tbody>
		</table>
	</div>
</div>