<div class="row">
	<div class="col-md-4">
		<div class="input-group">
		   <input type="text" class="form-control" placeholder="Digite o CPF" ng-model="search">
		   <span class="input-group-btn">
		        <button class="btn btn-default" type="button" ng-click="searchPatient(search)">Pesquisar</button>
		   </span>
		</div>
	</div>
</div>
<br>
<div class="container">

	<div ng-messages="messages">
	    <div ng-message="searchFailed" class="alert alert-info">
	        <strong>Desculpe!</strong> Não encontramos nenhum paciente com o CPF informado.
	    </div>
  	</div>
	<div class="row">
		<table class="table table-hover table-striped" ng-show="patients.length > 0">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>CPF</th>
		      <th>Nome</th>
		      <th>Sobrenome</th>
		      <th>Nascimento</th>
		      <th>Convênio</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="patient in patients | orderBy: '-patient.name'" ui-sref="portal.editPatient({id:patient.cpf})">
	            <th scope="row">#{{$index + 1}}</th>
	            <td>{{patient.cpf}}</td>
	            <td>{{patient.name}}</td>
	            <td>{{patient.lastname}}</td>
	            <td>{{patient.birthday | date : 'dd/MM/yyyy'}}</td>
	            <td>{{patient.partner}}</td>
          	</tr>
		  </tbody>
		</table>
		
	</div>
</div>