<div class="jumbotron form-signup" style="background-color: white !important;">
	<form ng-submit="signupDoctor(signup.name, signup.lastname, signup.CRM, signup.speciality, signup.password)" name="signupDoctorForm" novalidate>
	  <div class="text-center">
	    <img src="assets/img/logo_sm.png" class="img-fluid" style="width: 200px; height: 200px;" alt="Responsive image"> 
	  </div>
	  <h1 class="display-4 text-center">Bem Vindo!</h1>
	  <p class="lead text-center">
	    Insira seus dados para começar
	  </p>
	  <div ng-messages="signupDoctorForm.Name.$error">
	    <div ng-message="pattern" class="alert alert-warning">
	      	<strong>Ops!</strong> O campo Nome deve conter apenas letras.
	    </div>
	  </div>
	  <div ng-messages="signupDoctorForm.lastname.$error">
	    <div ng-message="pattern" class="alert alert-warning">
	    	<strong>Ops!</strong> O campo Sobrenome deve conter apenas letras.
	    </div>
	  </div>
	  <div ng-messages="signupDoctorForm.password.$error">
	    <div ng-message="minlength" class="alert alert-warning">
	      	<strong>Ops!</strong> A senha deve conter no mínimo 6 caracteres.
	    </div>
	  </div>
	  <div ng-messages="signupDoctorForm.CRM.$error">
	    <div ng-message="pattern" class="alert alert-warning">
	      	<strong>Ops!</strong> Digite um CRM válido.
	    </div>
	  </div>
	  <div ng-messages="messages">
	    <div ng-message="createdSuccess" class="alert alert-success">
	        <strong>Muito bom!</strong> Criamos a sua conta com sucesso.
	    </div>
	    <div ng-message="accountExistent" class="alert alert-danger">
	        <strong>Atenção</strong> Já existe uma conta associada a este CRM.
	    </div>
	    <div ng-message="serverFailed" class="alert alert-danger">
	        <strong>Desculpe!</strong> Estamos com um problema no momento, tente mais tarde!
	    </div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-6">
	  		<div class="form-group">
				<input ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ'\s]+$/" name="Name" type="text" class="form-control" placeholder="Nome" ng-model="signup.name" ng-model-options="{ updateOn: 'blur' }" required>
		  	</div>
	  	</div>
	  	<div class="col-sm-6">
	  		<div class="form-group">
				<input ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ'\s]+$/" name="lastname" type="text" class="form-control" placeholder="Sobrenome" ng-model="signup.lastname" ng-model-options="{ updateOn: 'blur' }" required>
		  	</div>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-6">
	  		<div class="form-group">
				<input ng-pattern="/^\d{9}[B][R]$/" name="CRM" type="text" class="form-control" placeholder="CRM" ng-model="signup.CRM" ng-model-options="{ updateOn: 'blur' }" required>
		  	</div>
	  	</div>
	  	<div class="col-sm-6">
	  		<div class="form-group">
	  			<select class="form-control" multiple="multiple" id="speciality" placeholder="Especialidades" ng-model="signup.speciality">
			        <option>Selecione a especialidade</option>
					<option>ACUPUNTURA</option>
					<option>ALERGIA E IMUNOLOGIA</option>
					<option>ALERGIA E IMUNOLOGIA PEDIATRICA</option>
					<option>ANESTESIOLOGIA</option>
					<option>ANGIOLOGIA E CIRURGIA VASCULAR</option>
					<option>ANGIORRADIOLOGIA E CIRURGIA ENDOVASCULAR</option>
					<option>CARDIOLOGIA</option>
					<option>CARDIOLOGIA PEDIATRICA</option>
					<option>CIRURGIA CARDIOVASCULAR</option>
					<option>CIRURGIA CRANIO-MAXILO-FACIAL</option>
					<option>CIRURGIA DA MAO</option>
					<option>CIRURGIA DE CABECA E PESCOCO</option>
					<option>CIRURGIA DO TRAUMA</option>
					<option>CIRURGIA GERAL</option>
					<option>CIRURGIA PEDIATRICA</option>
					<option>CIRURGIA PLASTICA</option>
					<option>CIRURGIA TORACICA</option>
					<option>CIRURGIA VIDEOLAPAROSCOPICA</option>
					<option>CLINICA MEDICA</option>
					<option>COLOPROCTOLOGIA</option>
					<option>DENSITOMETRIA OSSEA</option>
					<option>DERMATOLOGIA</option>
					<option>DOR</option>
					<option>ECOCARDIOGRAFIA</option>
					<option>ECOGRAFIA VASCULAR COM DOPPLER</option>
					<option>ELETROFISIOLOGIA CLINICA INVASIVA</option>
					<option>ELETRONEUROMIOGRAFIA</option>
					<option>ENDOCRINOLOGIA E METABOLOGIA</option>
					<option>ENDOCRINOLOGIA PEDIATRICA</option>
		      	</select>
		  	</div>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-12">
	  		<div class="form-group">
				<input name="password" type="password" class="form-control" placeholder="Senha" ng-minlength="6" ng-model="signup.password" ng-model-options="{ updateOn: 'blur' }" required>
		  	</div>
	  	</div>
	  </div>
	  <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
	  <p><small><ul class="list-unstyled text-center">Já possui uma conta? &nbsp;<li><a ui-sref="anon.login()">Entrar na sua conta!</a></li> <li></ul></small></p>
	</form>
</div>

<script>
	$("#speciality").select2({
	  tags: true,
	  tokenSeparators: [',', ' '],
	  placeholder: 'Especialidades'
	});
</script>