<div class="jumbotron form-signup" style="background-color: white !important;">
	<form>
	  <div class="text-center">
	    <img src="assets/img/logo_sm.png" class="img-fluid" style="width: 200px; height: 200px;" alt="Responsive image"> 
	  </div>
	  <h1 class="display-4 text-center">Bem Vindo!</h1>
	  <p class="lead text-center">
	    Insira seus dados para começar
	  </p>
	  <div class="row">
	  	<div class="col-sm-6">
	  		<div class="form-group">
				<input type="text" class="form-control" placeholder="Nome">
		  	</div>
	  	</div>
	  	<div class="col-sm-6">
	  		<div class="form-group">
				<input type="text" class="form-control" placeholder="Sobrenome">
		  	</div>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-6">
	  		<div class="form-group">
				<input type="text" class="form-control" placeholder="Data de Nascimento">
		  	</div>
	  	</div>
	  	<div class="col-sm-6">
	  		<div class="form-group">
				<input type="text" class="form-control" placeholder="Convênio">
		  	</div>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-sm-6">
	  		<div class="form-group">
				<input type="text" class="form-control" placeholder="CPF">
		  	</div>
	  	</div>
	  	<div class="col-sm-6">
	  		<div class="form-group">
				<input type="password" class="form-control" placeholder="Senha">
		  	</div>
	  	</div>
	  </div>
	  <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
	</form>
</div>